.footer-container {
    height: 8vh;
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100%;
    padding: 1rem 1.75rem;   
    background: #130f40;
    color: white;
}

@media(max-width: 400px) {
    .footer-container {
        flex-direction: column;
    }
}