.menu-container {
    // height: 7vh;
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    background: #686de0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;

    a {
        color: white;
        text-decoration: none;

        &:hover {
            color: #130f40;
        }
    }
}

.active {
  color: #130f40 !important;
}